.chat-message-text {
  background-color: rgb(238, 238, 238);
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  padding: 15px 20px;
  max-width: 300px;
}

.chat-message-robot,
.chat-message-user {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}

.chat-message-robot img,
.chat-message-user img {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
}

.chat-message-user {
  justify-content: end;
}

.chat-message-robot {
  justify-content: start;
}

.chat-message-time {
  color: rgb(125, 125, 125);
  font-size: 14px;
  margin-top: 5px;
}